a.nostyle {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
div.portfoliocard {
  position: relative;
  height: 400px;
  width: 250px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  /* margin: 62px; */
  /* margin:10% auto; */
  top: 15px;
  overflow: hidden;
  z-index: 100;
  margin: 0 auto;
}
div.portfoliocard div.coverphoto {
  width: 100%;
  height: 120px;
  background: url("https://cdn.pixabay.com/photo/2017/12/01/15/44/merligen-2991122_960_720.jpg");
  background-position: center center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 20px rgba(255, 255, 255, 0.3),
    1px 0px 2px rgba(255, 255, 255, 0.7);
  z-index: 99;
}
div.portfoliocard div.left_col,
div.portfoliocard div.right_col {
  /* float:left; */
  height: 340px;
}
div.portfoliocard div.left_col {
  width: 100%;
  padding-top: 22px;
  /* padding-top:85px; */
  box-sizing: border-box;
}
/* div.portfoliocard div.right_col{
	width:40%;
	background:rgba(245,245,245,1);
	border-left:1px solid rgba(230,230,230,1);
	box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
	margin-left:-1px;
	border-bottom-right-radius:5px;
} */
div.portfoliocard div.profile_picture {
  width: 98px;
  height: 110px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 24px;
  left: 10px;
  border-radius: 100%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/my-journey-through-programming.appspot.com/o/profile.png?alt=media");
  background-size: 100% 100%;
  padding: 7px;
  border: 4px solid rgba(255, 255, 255, 1);
}
div.portfoliocard div.left_col h2.name {
  font-size: 24px;
  font-weight: 300;
  color: rgba(30, 30, 30, 1);
  padding: 0;

  margin: 0px 8px 0px 20px;
}
div.portfoliocard div.left_col h3.location {
  font-size: 15px;
  font-weight: 300;
  color: rgba(170, 170, 170, 1);
  padding: 0;
  margin: -1px 8px 0px 20px;
}
div.portfoliocard ul.contact_information {
  margin-top: 20px;
  padding-left: 10px;
  list-style-type: none;
}
div.portfoliocard ul.contact_information li {
  height: 25px;
  width: 220px;
  line-height: 25px;
  font-weight: 300;
  font-size: 15px;
  color: rgba(140, 140, 140, 1);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  padding: 5px 0px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  cursor: default;
}
div.portfoliocard ul.contact_information li:before {
  content: "";
  width: 35px;
  height: 25px;
  display: block;
  float: left;
  background-position: center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  margin-right: 5px;
  opacity: 0.7;
}
div.portfoliocard ul.contact_information li:hover:before {
  opacity: 1;
}
div.portfoliocard ul.contact_information li.work:before {
  background-image: url("http://schulzmarcel.de/x/icons/case_24.png");
}
div.portfoliocard ul.contact_information li.website:before {
  background-image: url("http://schulzmarcel.de/x/icons/globe_24.png");
}
div.portfoliocard ul.contact_information li.mail:before {
  background-image: url("http://schulzmarcel.de/x/icons/paper_plane_24.png");
}
div.portfoliocard ul.contact_information li.phone:before {
  background-image: url("http://schulzmarcel.de/x/icons/phone_24.png");
}
div.portfoliocard ul.contact_information li.resume:before {
  background-image: url("http://schulzmarcel.de/x/icons/inbox_24.png");
}
div.portfoliocard div.followers,
div.portfoliocard div.following {
  margin: 15px 0px 0px 35px;
  font-weight: 300;
  font-size: 16px;
  color: rgba(30, 30, 30, 1);
}
div.portfoliocard div.follow_count {
  font-weight: 400;
  font-size: 25px;
  color: rgba(140, 140, 140, 1);
}

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
/*drawer*/

svg.MuiSvgIcon-root#icon {
  filter: drop-shadow(0rem 0rem 0.3rem black);
}

/**/

svg.MuiSvgIcon-root {
  cursor: pointer;
}
.MuiStepIcon-root.MuiStepIcon-active,
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #2c9c91 !important;
}

#bttn-sttp {
  outline: none;
  background: none;
}

.MuiSvgIcon-root {
  color: white;
}
.makeStyles-button-153,
.MuiButton-contained {
  background-color: #2c9c91 !important;
}
/* div#programmer-me {
  position: relative;
  top: -100px;
} */
/* div#card2 {
  position: relative;
  top: -100px;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
} */
.MuiButton-textSizeSmall {
  margin: 0 auto;
  position: relative;
}
main.makeStyles-content-10 {
  padding: 0 !important;
  flex-grow: 0;
}
div.content {
  /* font-family: "Josefin Sans", sans-serif !important;
  font-size: 100%;
  margin: 0 auto;
  padding: 0; */
}
body {
  font-family: "Josefin Sans", sans-serif !important;
}
        
.card-title2, .card-text2 {
  font-size: 0.6vh!important;
  width: 90%;
}  
.card-title3, .card-text3 {
  font-size: 3vh;
  width: 90%;
}
#stepper {
  position: relative !important;
}

.check {
  position: relative;
  left: -20px;
}
.card-title {
  padding-top: 22px;
  text-align: center;
}
@media (max-width: 250px) {
  img#clickmobile {
    left: 3%;
    top: 10px !important;
  }
}

@media (min-width: 251px) {
.font,.s {
  font-size: 2.5vh;
}
  div.content1 {
    padding: 0px !important;
    margin: 10px 10px 10px!important;
    width: 80%;
  }

}

@media (max-width: 510px) {
  img#clickmobile {
    left: 23%;
    top: -166px !important;
  }
  div#pending {
    font-size: 2vh!important;
  }
  .MuiTypography-body2 {
    font-weight: 0;
    line-height: 0;
    letter-spacing: 0;
    font-size: 0.5vh;

  }
  .font,.s {
    font-size: 2.5vh;
  }
    div.content1 {
      padding: 0px !important;
      margin: 10px 10px 10px!important;
      width: 80%;
    }
}
@media (max-width: 600px) {
  .flip-card,
  .flip-card2,
  .flip-card3,
  .flip-card4 {
    margin: 44px;
  }
  #stepper {
    display: inline-block;
    padding-top: 70px;
    position: relative
  }
  div.content {
    flex-direction: column !important;
    align-content: center !important;
    vertical-align: middle;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  div.content1 {
    padding: 0px !important;
    margin: 10px 10px 10px!important;
    width: 90%;
  }

  div.MuiStepper-vertical {
    font-family: "Josefin Sans", sans-serif !important;
  }
  .makeStyles-button-149 {
    margin: 22px !important;
  }

}

@media  (min-width: 600px) {
  .font,.s {
    font-size: 2.5vh;
  }
    div.content1 {
      padding: 0px !important;
      margin: 10px 20px 10px!important;
      width: 90%;
    }
    #stepper {
      margin: 88px 0px 0px;
    }
  div.content {
    flex-direction: column ;
    align-content: center;
    vertical-align: middle;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .flip-card,
  .flip-card2,
  .flip-card3,
  .flip-card4 {
    margin: 44px;
  }

  main {
    padding: 0 !important;
  }
}

@media  (min-width: 768px) {
}

@media  (min-width: 992px) {
  div.content {
    padding: 66px !important;
  }
  .flip-card,
  .flip-card2,
  .flip-card3,
  .flip-card4 {
    margin: 44px;
  }
}

@media  (min-width: 1200px) {

}
.card-title {

}
.flip-card,
.flip-card2,
.flip-card3,
.flip-card4 {
  background-color: transparent;
  width: 270px;
  height: 480px;
  /* padding: 22px!important; */
}

.flip-card-inner {
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
.flip-card:hover .flip-card-inner,
.flip-card2:hover .flip-card-inner,
.flip-card3:hover .flip-card-inner,
.flip-card4:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-back {
  text-align: left !important;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}

.flip-card-front {
  background-color: white;
  color: black;
  z-index: 2;
}

.flip-card-front img {
  position: relative;
  top: 100px;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  text-align: center;
  z-index: 1;
  font-size: 1.8vh!important;
}
div.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 2.5vh;

  /* position: relative; */
}
div#pending {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
div.content1 {
  font-family: "Josefin Sans", sans-serif !important;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: 2.4vh;
  /* font-size: 85%; */
  margin: 22px 77px 0px 55px;
}
