@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

div#programmer-me {
    position: relative;
    top: -100px;
}
div#card2 {
    position: relative;
    top: -100px;
    display: block;
    margin: 0 auto;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;

    
}
.MuiButton-textSizeSmall {
    margin: 0 auto;
    position: relative;
}
main.makeStyles-content-10 {
    padding: 0!important;
    flex-grow: 0;
}
div.content {
    font-family: 'Josefin Sans', sans-serif!important;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;

}
body {
    font-family: 'Josefin Sans', sans-serif!important;

}

#stepper {
    position: relative!important;
 }
@media only screen and (max-width: 600px) {
    #stepper {
        display: inline-block;
    }
    div.content {
        width: 90%;
        left: -120px!important;
    }
    .makeStyles-button-149 {
        margin: 22px!important;
    }
 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div.content {
        width: 90%;
        left: -120px!important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #stepper {
margin: 0 auto;    }
    div.content {
      margin: 0 auto!important;
    }
}
