@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

}
.App {
position: relative;
height: 100%;
width: 100%;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  background-color: white;
}
main {
  flex-grow: 0!important;
}
.MuiButtonBase-root   {
outline: none!important
}
span, button {
  outline: none;
}
/*effect-box*/
a.s:after,
a.s:before {
	content: '';
  position: relative;
  left: 0;
  display: inline-block;
  height: 1em;
 
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	
}

a.s:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.s:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.s:hover:after,
a.s:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
button.close .ml-2 .mb-1 {
  color: red!important;
}
a {
  /* color: #207068; */
  color: 	#A8A8A8;
}
a:hover {
  color: #2c9c91;
  font-weight: none;
  text-decoration: none;
}
.rria {
 color: #2c9c91;
}
ul {
  list-style: none;
}
ul li::before {
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  content: "\2022";
  color: #2c9c91;
}
#icon {
  list-style: initial;
}
.rria:hover {
  color:white;
}
.icon {
  color: white!important;
}
div.MuiStepper-vertical, 
.makeStyles-root-338, span, a, li, p {
  font-family: "Josefin Sans", sans-serif!important;

}